@import url(https://fonts.googleapis.com/css?family=Gabriela);
@keyframes greenPulse {
from { -webkit-box-shadow: 0 0 1px #AFE30E; }
50% {  -webkit-box-shadow: 0 0 18px #91bd09; }
to {-webkit-box-shadow: 0 0 9px #8FB518; }
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    /* border: 1px solid black; */
}
body{
    background-color: aquamarine;
}
.landing-1{
  height:100vh;
  background-image: url(../images/landing-background1.jpg) ;
}
.landing-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 240px;
    font-style: italic;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:yellowgreen;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, 2px 2px 0 black,
    2px 2px 0 black;
  }
  .landing-p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: white;
    top: 0px;
    font-size: 30px;
    margin-top: 0px;
    text-align: right;
    margin-right: calc(100% - 95%);
  }
  .services-container{
    background-color:#F4F5F7;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap;
  }
  .row-1{
    flex-direction: column;
    flex: 100%;
    padding: 20px;
    background-color: #d5853b;
    color:white;
    text-align: center;
}
.row-2{
  flex-direction: row;
  flex: 20%; 
  margin: 60px 10px; 
  padding: 20px;
  background-color: #4CAF50; 
  color: white;
  text-align: center;
  flex-direction: row;
  height: 400px;
  border-radius: 10px;
}
.row-1 h2{
  font-family: poppins;
  font-size: 35px;
  padding: 20px;
}
.row-2 h3{
  text-align: center;
  padding:25px;
  font-family: poppins;
  font-size: 25px;
}
.row-2 p{
  font-family: poppins;
  padding: 25px;
  font-size: 20px;
}
.row-2-img{
  width:150px;
  height:150px;
}
.landing-2{
  height: 400px;
  /* width: 100%; */
  padding: 40px;
  left: 50%;
  background-image: url(../images/landing-background2.jpg);
}
/* button{
  width:100px;
  height:100px;
  align-items: center;
  margin-left:40%;
  padding:5px 50px 5px 50px;
  border-radius: 50px;
} */



p.enter {
  font-size: 1.8em;
  font-family: 'poppins';
  font-weight: 400;
  position: absolute;
  text-align: center;
  padding-top: 74px;
  padding-left: 15px;
  padding-right: 61px;
  cursor: pointer;
}

div.cirrcle {    
    margin: 100px auto;
    width:200px;
    height:200px;
}

.cirrcle {
    -moz-border-radius: 200px/200px;
    -webkit-border-radius: 200px 200px;
    border-radius: 200px/200px;;
    border:1px solid #91bd09;
    width:200px;
    height:200px;
    outline:none;
    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cirrcle:hover {
    box-shadow: 0 0 2px #91bd09;
    -webkit-box-shadow: 0 0 2px #91bd09; 
    -moz-box-shadow: 0 0 2px #91bd09;
    border:1px solid #91bd09;
}

/* Footer section */
.footer{
  padding:40px;
  background-color:#212A31;
  color:white;
}
.footer-text{
font-family: poppins;
font-weight: 500;
text-align: center;
}
/* media queries for extra small devices*/
@media (max-width: 575.98px) {
  .landing-1{
    height:50vh;
  }
  .landing-h1{
    font-weight: 900;
    font-size: 100px;
    padding-top: 50px;
  }
  .landing-p{
    font-size: 20px;
    margin-right: calc(100% - 90%);
  }
.row-2{
  flex: 100%; 
}
}
/* media queries for small devices*/
@media (min-width: 576px) and (max-width: 867.98px) {
  .landing-1{
    height:50vh;
  }
  .landing-h1{
    font-weight: 900;
    font-size: 120px;
    padding-top: 50px;
  }
  .landing-p{
    font-size: 20px;
    margin-right: calc(100% - 90%);
  }
.row-2{
  flex: 100%; 
}
}
/* media queries for medium devices(tablets)*/
@media (min-width: 868px) and (max-width: 991.98px) {
  .landing-1{
    height:60vh;
    max-width:auto;
  }
  .landing-h1{
    font-weight: 900;
    font-size: 120px;
    padding-top: 50px;
  }
  .landing-p{
    font-size: 30px;
    margin-right: calc(100% - 90%);
  }
.row-2{
  flex: 40%;
}
}
/* media queries for large devices*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .landing-1{
    height:60vh;
    max-width:auto;
  }
  .landing-h1{
    font-weight: 900;
    font-size: 120px;
    padding-top: 50px;
  }
  .landing-p{
    font-size: 30px;
    margin-right: calc(100% - 90%);
  }
.row-2{
  flex: 30%;
}
}
/* media queries for extra large devices*/
@media (min-width: 1200px) and (max-width: 1599.98px) {

}
